@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(56, 161, 149);
}
nav{
    background-color: rgb(5, 88, 87);
    color: rgb(255, 255, 255);
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: inherit serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer{ 
    display: flex;
    /* background-color: rgb(56, 161, 149); */
    justify-content: center;
    margin: 60px 10px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: cursive;
    position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgba(208, 227, 223, 0.879);
}
.info {
    font-size: 22px;
}
.gameInfo{
    text-align: center;
    padding-left: 150px;
    padding-top: 15vh;
    font-family: 'Baloo Bhaina 2', cursive;
}
.gameInfo h1{
    font-size: 2.5rem;
}
.imgbox img{
    padding-top: 5vh;
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset {
    margin: 0 23px;
    padding: 1px 29px;
    background: rgb(81, 161, 183);
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 20px;
    font-weight: bolder;
}
#reset:hover{
    background-color: #569866;
}
.line{
    background-color: rgb(219, 216, 224);
    height: 5px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
    .gameContainer {
        flex-wrap: wrap;
        writing-mode: horizontal-tb;
        margin: 10px;
    }
    .gameInfo {
        margin-top: 20px;
        padding-left: 0;
    }
    .gameInfo h1 {
        font-size: 1.5rem;
    }
    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .info {
        font-size: 18px;
    }
    .box {
        font-size: 5vw;
    }
    #reset {
        margin: 0 10px;
        padding: 5px 15px;
        font-size: 16px;
    }
    .line {
        height: 3px;
    }
}

